
table,
th,
td {
    border: 1px solid black;
}

/* Full-width input fields */
/* input[type=text],
input[type=password] {
    width     : 100%;
    padding   : 12px 20px;
    margin    : 8px 0;
    display   : inline-block;
    border    : 1px solid #ccc;
    box-sizing: border-box;
} */

/* Set a style for all buttons */
button {
    background-color: rgb(21, 24, 21);
    color           : white;
    padding         : 14px 20px;
    margin          : 8px 0;
    border          : none;
    cursor          : pointer;
    /* width           : 100%; */
}

.btn_userData {
    margin-left: 15px;
}

.btn_add {
    margin-left: 15px;
}

.editDisableClass{
    background-color: rgb(111, 117, 111);
}

button:hover {
    opacity: 0.8;
}